<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenSeadragon Demo</title>
    <script type="text/javascript" src="/static/js/openseadragon.js"></script>
    <style type="text/css">
        body {
            position: absolute;
            height: 100%;
            width: 100%;
            margin: 0;
        }
        #openseadragon-viewer {
            width: 100%;
            height: 100%;
        }
    </style>
    <style>
        #overlays-div{
            border: 1px solid red;
        }
        #overlays-divsd{
            border: 1px solid red;
        }
    </style>
</head>
<body style="position: absolute; width: 100%;height: 100%; padding: 2% 0">
{#<div style="margin-top: 20px; margin-bottom: 20px">#}
{#    <input type="file" onchange="changeFile()" id="fileDom">#}
{#    <button onclick="saveFile()">渲染</button>#}
{#</div>#}
<p id="msg"></p>
{#<p><span class="text-red">*</span>上传成功后，请点击"渲染"按钮转换成切片后渲染</p>#}
<div id="zoomV"></div>
{#<hr>#}
<p>Group {{ group }}</p>
<div style="border: 1px solid #eee;width: 100%;height: 700px; padding-top: 50px">
    <div id="openseadragon-viewerA" style="width: 50%; height: 600px;float: left"></div>
    <div id="openseadragon-viewerA1" style="width: 49%; height: 600px;float: left;margin-left: 15px"></div>
</div>
<div style="clear: both"></div>
<br>
{#<hr/>#}

<script type="text/javascript">
    const $msg = document.getElementById('msg');
    {#let viewer;#}
    let dzi1 = 'static/B3_orig_0.dzi';
    let dzi2 = 'static/B3_0_5_roi_0_blur_1_rs_1_bc_0_a_0_4_l_-1_bi_0_-1_0.dzi';
    let viewerA = renderView('openseadragon-viewerA', '{{dzi1}}');
    let viewerA1 = renderView('openseadragon-viewerA1', '{{ dzi2 }}');


    window.onload=()=>{
        handleZoom(viewerA, viewerA1);
        handleZoom(viewerA1, viewerA);
        initView(viewerA);
        initView(viewerA1);
    };
    function initView(view){
        handleView(view, 4.63, {
            "x": 0.6020714387279907,
            "y": 0.32216677042595615
        })
    }
    function handleView(view, zoom, center) {
        let {viewport} = view;
        viewport.zoomTo(zoom);
        viewport.panTo(center);
        let {x, y} = center;
        net_tip(('Zoom: ' + zoom + '<br/>Center: ' + x + ', ' + y));
    }
    function handleZoom(v1, v2) {
        const tongbu = (target)=>{
            const zoom = v1.viewport.getZoom();
            var viewportCenter1 = v1.viewport.getCenter();
            console.log('target', target);
            handleView(v2, zoom, viewportCenter1);
        };
        {#initView(v1);#}
        v1.addHandler('canvas-scroll', tongbu);
        v1.addHandler('canvas-drag', tongbu);
        v1.addHandler('navigator-click', tongbu);
        {#v1.addHandler('zoom', tongbu);#}
    }


    // If you like my work, please consider supporting it at https://www.patreon.com/iangilman

    // Drag an image to move it around. Drag the background to pan.


    var viewer2 = OpenSeadragon({
        id: "openseadragon-viewer2",
        prefixUrl: "https://openseadragon.github.io/openseadragon/images/",
        tileSources: [
            {
                tileSource: '/' + dzi1,
                x: 0,
                showNavigator: true,
            },
            {
                tileSource: '/' + dzi2,
                x: 1.1,
                showNavigator: true,
            }
        ],
        showNavigator: true,
    });

    function areAllFullyLoaded() {
        var tiledImage;
        var count = viewer.world.getItemCount();
        for (var i = 0; i < count; i++) {
            tiledImage = viewer.world.getItemAt(i);
            if (!tiledImage.getFullyLoaded()) {
                return false;
            }
        }
        return true;
    }

    var isFullyLoaded = false;

    function updateLoadingIndicator() {
        // Note that this function gets called every time isFullyLoaded changes, which it will do as you
        // zoom and pan around. All we care about is the initial load, though, so we are just hiding the
        // loading indicator and not showing it again.
        if (isFullyLoaded) {
            document.querySelector('.loading').style.display = 'none';
        }
    }

    viewer.world.addHandler('add-item', function(event) {
        var tiledImage = event.item;
        tiledImage.addHandler('fully-loaded-change', function() {
            var newFullyLoaded = areAllFullyLoaded();
            if (newFullyLoaded !== isFullyLoaded) {
                isFullyLoaded = newFullyLoaded;
                updateLoadingIndicator();
            }
        });
    });

    function renderView(ID, file_dzi) {
        return OpenSeadragon({
            id: ID,
            prefixUrl: "/static/images/",
            tileSources: '/' + file_dzi,
            // Initial rotation angle
            degrees: 0,
            // Show rotation buttons
            showRotationControl: true,
            // Enable touch rotation on tactile devices
            gestureSettingsTouch: {
                pinchRotate: true
            },
            showNavigator: true,
            minZoomLevel: 1.4,
            {#defaultZoomLevel: 5#}
        }).clearControls();
    }
    function changeFile(){
        console.log("上传");
    }
    function saveFile() {
        let msgPrefix1 = '上传文件至服务器';
        net_tip(msgPrefix1 + '中, 请稍候...');
        let fd = new FormData();
        const fileInput = document.getElementById('fileDom');
        fd.append('file', fileInput.files[0]);
        fetch('/upload/file/', {
            method: 'POST',
            body: fd
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                let {message, path} = data;
                net_tip(msgPrefix1 + '结束，' + message);
                if(path) svs2img(path);
            })
            .catch(error => {
                net_tip(msgPrefix1  + '失败，' + JSON.stringify(error));
                console.error(error)
            });
    }
    function svs2img(path) {
        let msgPrefix = '文件转换为切片';
        net_tip(msgPrefix + '中, 请稍候...');
        if(viewerA) viewerA.destroy();
        fetch(
            '/svs/2/img/',
            {
                method: 'post',
                headers: {'Content-Type': 'application/json', 'Accept': 'application/json'},
                body: JSON.stringify({file_path: path})
            }
        ).then((promise) => {
            try {
                return promise.json();
            }
            catch (e) {
                return promise;
            }
        })
            .then((res) => {
                console.log(res);
                let {message, file_dir, file_dzi} = res;
                net_tip(msgPrefix + '结束，' + message);
                if(file_dzi) viewerA = renderView('openseadragon-viewerA', file_dzi);
            })
            .catch((err) => {
                net_tip(msgPrefix + '失败，' + JSON.stringify(err));
            });
    }
    const service_info = {endpoint: sessionStorage.getItem('hostname') || `http://${window.location.hostname}`, 'port': 9003};
    const tcm_api_prefix = sessionStorage.getItem('hostname') ? '' : `${service_info.endpoint }:${service_info.port || ''}`;
    const jy_request_common =(rq, api_service=null) =>{
        let token = sessionStorage.getItem('access-token');
        let {url, api_info, headers
        } = rq;
        headers = headers || {};
        headers = {...headers, 'Content-Type': 'application/json', 'Accept': 'application/json'};

        let body;
        api_info = api_info || {};
        const {api_name, api_prefix} = api_info;
        let method = rq.type.toLowerCase();
        const action_name = method === 'get'? '获取': method === 'post'? '新建': method === 'put'? '更新': '删除';
        if(api_prefix) url = api_prefix + url.substring(1);
        if(!rq.crud_name) rq.crud_name = (action_name || '') + (api_name || url) + '信息';
        if(rq.data){
            if(method === 'get') url += '?' + dict2params(rq.data);
            else body = JSON.stringify(rq.data);
        }
        if(url)headers['API-URL'] = url;
        if(api_service) headers['API-SERVICE'] = api_service;
        if(token) headers['Authorization'] = `Basic ` + token;
        const tcm_api_prefix = sessionStorage.getItem('hostname')?'': `${service_info.endpoint }:${service_info.port || ''}`;
        if(method === 'delete') {headers['API-METHOD'] = method.toUpperCase();method = 'put'; }
        const fetch_url = `${tcm_api_prefix+rq.base_url}?${method === 'get' && rq.data? dict2params(rq.data): ''}`;
        if(rq.down){
            window.open(fetch_url);
            return;
        }
        return fetch(fetch_url, {method, headers: headers, body})
            .then((promise) => {
                try {
                    return promise.json();
                }
                catch (e) {
                    return promise;
                }
            })
            .then((res) => {
                res = res || {status: -1};
                if(typeof res === 'string') res.message = res;
                else if(!res.message) res.message = '获取数据异常';
                if(res && res.status === 1000101) {
                    console.log(window.location.href);
                    let {href} = window.location;
                    if(href) sessionStorage.setItem('href', href);
                    jy_tip(isEn? 'Login First': `请先登录`, 'msg');

                }
                else if(rq.success) return rq.success(res);
                else console.log(res);
            })
            .catch((err) => {
                if(rq.catch) rq.catch();
                else if(rq.redo)jy_request_common(rq, api_service);
                else jy_tip(`${rq.crud_name}失败, 请稍后重试或者联系管理员.${err}` , 'msg');
            });
    };
    function net_upload_error(msg) {
        console.log(msg);
        net_tip('上传文件失败'+  (msg? msg: '网络故障，请稍后刷新重试'));
    }
    function net_tip(msg) {
        $msg.innerHTML = (msg? msg: '网络故障，请稍后刷新重试');
    }
    function jy_tip(msg, id='msg') {
        $msg.innerHTML = (msg? msg: '网络故障，请稍后刷新重试');
    }

</script>
</body>
</html>
