<!DOCTYPE html>
<html>
<head>
    {% set KOBAS_PREFIX = conf.static_prefix or '' %}
    {% if conf.umi_name == 'umi_kobars' %}
        {#        <link rel="stylesheet" href="./kobas3/static/{{ conf.umi_name or 'umi' }}.css?t={{ restart_time }}">#}
        <link rel="stylesheet" href="{{ KOBAS_PREFIX }}/static/{{ conf.umi_name or 'umi' }}.css?t={{ restart_time }}">
    {% elif conf.umi_name %}
        <link rel="stylesheet" href="{{ conf.umi_prefix }}/static/{{ conf.umi_name or 'umi' }}.css?t={{ restart_time }}">
    {% else %}
        <link rel="stylesheet" href="/static/{{ conf.umi_name or 'umi' }}.css?t={{ restart_time }}">
        <link rel="stylesheet" href="./static/{{ conf.umi_name or 'umi' }}.css?t={{ restart_time }}">
        <link rel="stylesheet" href="/en/static/{{ conf.umi_name or 'umi' }}.css?t={{ restart_time }}">
        <link rel="stylesheet" href="./en/static/{{ conf.umi_name or 'umi' }}.css?t={{ restart_time }}">
    {% endif %}
    <meta charset="utf-8">
    <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <meta HTTP-EQUIV="Expires" CONTENT="-1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>{{ 'HerbNet' if '/en/' in request.path else conf.page_title}} </title>
    <script>
        sessionStorage.setItem('hostname', location.hostname +location.pathname);
        var system_name = '{{ system_name }}';
        var KOBAS_PREFIX = '{{ KOBAS_PREFIX }}';
        var system_conf = {{ conf|tojson }};
        var restart_time = '{{ restart_time }}';
        var static_dir = '{{ static_dir }}';
        console.log('system_conf', system_conf);

    </script>
</head>
<body>
<div id="root"></div>

{% if conf.umi_name == 'umi_kobars' %}
    {#    <script src="./kobas3/static/{{ conf.umi_name or 'umi' }}.js?t={{ restart_time }}"></script>#}
    <script src="{{ KOBAS_PREFIX }}/static/{{ conf.umi_name or 'umi' }}.js?t={{ restart_time }}"></script>
{% elif conf.umi_name %}
    {#    <script src="./kobas3/static/{{ conf.umi_name or 'umi' }}.js?t={{ restart_time }}"></script>#}
    <script src="{{ conf.umi_prefix }}/static/{{ conf.umi_name or 'umi' }}.js?t={{ restart_time }}"></script>
{% else %}
    <script src="/static/{{ conf.umi_name or 'umi' }}.js?t={{ restart_time }}"></script>
    <script src="./static/{{ conf.umi_name or 'umi' }}.js?t={{ restart_time }}"></script>
    <script src="/en/static/{{ conf.umi_name or 'umi' }}.js?t={{ restart_time }}"></script>
    <script src="./en/static/{{ conf.umi_name or 'umi' }}.js?t={{ restart_time }}"></script>
{% endif %}
{% if conf.baidu_statistic %}
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?{{conf.baidu_statistic}}";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
{% endif %}
</body>
</html>